params {
    workflow       = ''
    bams           = '/external/diskC/ddd/data/batch_1/bams'
    crams          = '/dataG/ddd/data/batch_1/cram_ddd_id'
    outdir         = '/home/phelelani/projects/nadja/BATCH_1.2023.12.12'
    ref            = '/home/phelelani/projects/nadja/data/hg38/GRCh38_full_analysis_set_plus_decoy_hla.fa'
    priors         = '/home/phelelani/projects/nadja/data/indelible/Indelible_db_10k.hg38.bed'
    indelible_conf = '/home/phelelani/projects/nadja/data/indelible/config.yml'
    xhmm_conf      = '/home/phelelani/projects/nadja/data/xhmm/params.txt'
    probes         = '/home/phelelani/projects/nadja/data/canoes/probes_sanger.bed'
    mappability    = '/home/phelelani/projects/nadja/data/clamms/mappability_sorted.bed'
    special_reg    = '/home/phelelani/projects/nadja/data/clamms/clamms_special_regions.grch38_sorted.bed'
    sexinfo        = '/home/phelelani/projects/nadja/data/SEX.INFO'
}
