#!/usr/bin/env nextflow
nextflow.enable.dsl=2

params.runOptions = '-B /dataB/aux -B /dataG/ddd -B /external/diskC/ddd'

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity/cache"
    runOptions = "--cleanenv " + "${params.runOptions}"
}

process {       
    cache = true    
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 1
    memory = 24.GB
    time = 100.h
    maxForks = 10
    withLabel:'indelible' {
        container = 'docker://phelelani/nf-exomecnv:indelible'
    }
    withLabel:'xhmm' {
        container = 'docker://phelelani/nf-exomecnv:xhmm'
    }
}

profiles {
    wits {
        executor.name = 'slurm'
        queue = 'batch'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_report.html"
}
