#!/usr/bin/env nextflow
nextflow.enable.dsl=2

params.runOptions = '-B /dataB/aux -B /dataG/ddd -B /dataG/ddd-2023 -B /home/phelelani'

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity/cache"
    runOptions = "--cleanenv " + "${params.runOptions}"
}

executor{
    jobName = { "${task.name.replaceAll(' ','_').toUpperCase()}" }
}

process {       
    cache = true    
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 1
    memory = 24.GB
    time = 100.h
    maxForks = 10
    errorStrategy = 'finish'
    clusterOptions = '--exclude=n04'
    
    withLabel:'indelible' {
        container = 'docker://phelelani/nf-exomecnv:indelible'
    }
    withLabel:'xhmm' {
        container = 'docker://phelelani/nf-exomecnv:xhmm'
    }
    withLabel: 'gatk' {
        container = 'docker://broadinstitute/gatk:4.4.0.0'
        clusterOptions = "--constraint=avx2"
        memory = 12.GB
        cpus = 4
    }
    withLabel: 'picard' {
        container = 'docker://broadinstitute/picard:3.2.0'
        clusterOptions = "--constraint=avx2"
        memory = 12.GB
        cpus = 4        
    }
    withLabel: 'canoes|R' {
        container = 'docker://phelelani/nf-exomecnv:canoes'
    }
    withLabel: 'clamms|bedtools' {
        container = 'docker://phelelani/nf-exomecnv:clamms'
    }
}

profiles {
    wits {
        executor.name = 'slurm'
        queue = 'batch'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_report.html"
}
