singularity {
    enabled = true
    runOptions = '-B /dataG/ddd --cleanenv'
}

process {       
    cache = true    
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 1
    memory = 12.GB
    time = 100.h
    maxForks = 10
    container = 'file:///$HOME/.singularity/cache/nf-indelible.sif'
}

profiles {
    slurm {
        executor = 'slurm'
        queue = 'batch'
    }
}

trace {
    enabled = true
    file = "workflow-tracing/trace.txt"
}
timeline {
    enabled = true
    file = "workflow-tracing/timeline.html"
}
report {
    enabled = true
    file = "workflow-tracing/report.html"
}
